body{
    margin-left: 10%;
    margin-right: 10%;
}

#topHeader{
    margin-left: 25%;
    font-size: 26px;
}

section header h1{
    margin: 0%;
    display: inline-block;
}

section header img{
    width: 100px;
    height: auto;  
}
section nav{
    border: 3px dotted red;
}

section nav ul{
    padding: 0px;
    margin-left: 25%;
}

section nav li{
    display: inline-block;
    padding-right: 20px;
    font-size: 20px;
}

section header{
    font-size: 20px;
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 10px red;
}

section header article{
    font-size: 18px; 
    color: yellow;
    text-decoration: underline red;
}

video{
    width: 100%;
    height:auto;
}

content{
    display:inline-block;
    width: 70%;
    vertical-align: top;
}

aside{
    display: inline-block;
    vertical-align: top;
}

section header li{
    font-size: 20px;
    color: green;
}

